@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    font-family:
        "SourceHanSerifCN-Bold",
        PingFang SC,
        -apple-system,
        SF UI Text,
        Lucida Grande,
        STheiti,
        Microsoft YaHei,
        sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

.milkdown {
    @apply px-8 py-4;
    min-height: 100%;
    height: max-content;
    padding-bottom: 72px;
}

.editor {
    @apply w-full max-w-full mx-auto;
}

.editor:focus-visible {
    @apply outline-none;
}

.editor > .tableWrapper {
    padding: 1rem;
}

.editor > h1 {
    @apply mb-0;
    &::after {
        content: "";
        display: block;
        border-bottom: 1px solid #f0f0f0;
        margin: 16px 0;
    }
}

.milkdown-theme-nord.prose > .tableWrapper > table {
    @apply !m-0;
}

/** react split pane */
.Resizer {
    background: #000;
    opacity: 0.2;
    z-index: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
}

.Resizer.horizontal {
    height: 11px;
    margin: -5px 0;
    border-top: 5px solid rgba(255, 255, 255, 0);
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    cursor: row-resize;
    width: 100%;
}

.Resizer.vertical {
    @apply border-2 border-r border-gray-400;
    background: #fff;
    cursor: col-resize;
}

.Resizer.disabled {
    cursor: not-allowed;
}
